# Ignore IntelliSense cache
.vs/**/ipch/

# Ignore temporary VS files
.vs/**/FileContentIndex/
.vs/**/Browse.VC.db
.vs/**/Browse.VC.opendb
.vs/**/.suo

# Ignore build output
bin/
bin-int/

Sandbox/imgui.ini
.vs/Meowgine/v15/Solution.VC.db-shm
.vs/Meowgine/v15/Solution.VC.db-wal
